<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>index</title>

        <!--
            날짜 : 2025/09/16
            이름 : 이다은
            내용 : 3장 Spring Boot 실습하기
        -->
    </head>
    <body>

        <h3>Spring Boot</h3>

        <h4>Spring Boot 기본</h4>

        <a href="/ch03/sub1/welcome">welcome</a>
        <a href="/ch03/sub1/hello">hello</a>

        <h4>Thymeleaf 기본</h4>
        <!-- 출력 -->
        <p>str1 : [[${str1}]]</p>
        <p th:text="${str2}">내용출력칸</p> <!-- 이게 타임리프 속성 활용한 출력 -->
        <p th:text="${str3}">내용출력칸</p>

        <!-- 조건문 -->
        <p>
            <span th:if="${user1.name=='홍길동'}">user1은 홍길동입니다.</span>
            <span th:if="${user1.name=='김유신'}">user1은 김유신입니다.</span>

        </p>

        <p>
            <span th:if="${user1.age >= 20}">user1은 20세 이상입니다.</span>
            <!-- 여기서 unless는 그냥 else처럼 쓰면 됨 -->
            <span th:unless="${user1.age >= 20}">user1은 20세 미만입니다.</span>
        </p>

        <p th:switch="${user2.age >= 20}">
            <span th:case="true">user2는 20세 이상입니다.</span>
            <span th:case="false">user2는 20세 미만입니다.</span>
        </p>

        <p>
            <span th:if="${user4}">user4는 null이 아닙니다.</span>
            <span th:unless="${user4}">user4는 null입니다.</span>
        </p>

        <!-- 반복문 -->
        <table border="1">
            <tr th:each="user:${dtoList}">
                <td>[[${user.uid}]]</td>
                <td>[[${user.name}]]</td>
                <td th:text="${user.birth}">생년월일</td>
                <td th:text="${user.age}">나이</td>
            </tr>
        </table>

        <!-- 링크 -->
        <!-- th로 두면 루트주소 따라서 알아서 링크가 바뀜 -->
        <a th:href="@{/sub1/hello}">Hello</a>
        <a th:href="@{/sub1/welcome}">Welcome</a>

        <!-- include -->
        <th:block th:include="/inc/_head.html"/>
        <th:block th:include="/inc/_tail.html"/>

        <!-- div 태그 안에 <header><p>헤더임</p></header> 이게 들어가는 것 -->
        <div th:insert="/inc/_head.html"></div>
        <div th:insert="/inc/_tail.html"></div>

        <!-- div 태그를 head파일 안에 든 html이 대체함 -->
        <div th:replace="/inc/_head.html"></div>
        <div th:replace="/inc/_tail.html"></div>

        <th:block th:include="~{inc/template::_header}"/>
        <th:block th:include="~{inc/template::_footer}"/>

        <!-- Thymeleaf Layout은 각자 찾아서 실습해보기 -->


    </body>
</html>