<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User2.list</title>
    </head>
    <body>
        <h3>User2 목록</h3>

        <a th:href="@{/}">처음으로</a>
        <a th:href="@{/user2/register}">등록하기</a>

        <table border="1">
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>전화번호</th>
                <th>성별</th>
                <th>관리</th>
            </tr>
            <tr th:each="user:${dtoList}">
                <td>[[${user.userId}]]</td>
                <td>[[${user.name}]]</td>
                <td>[[${user.hp}]]</td>
                <td>[[${user.gender}]]</td>
                <td>
                    <a th:href="@{/user2/modify(userId=${user.userId})}">수정</a>
                    <a th:href="@{/user2/delete(userId=${user.userId})}">삭제</a>
                </td>
            </tr>

        </table>
    </body>
</html>