<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h3>User2 수정</h3>
        <a th:href="@{/}">처음으로</a>
        <a th:href="@{/user2/list}">목록으로</a>
        <form th:action="@{/user2/modify}" method="post">
            <table border="1">
                <tr>
                    <th>아이디</th>
                    <td><input type="text" name="userId" th:value="${dto.userId}" readonly></td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td><input type="text" name="name" th:value="${dto.name}"></td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td><input type="text" name="hp" th:value="${dto.hp}"></td>
                </tr>
                <tr>
                    <th>성별</th>
                    <td><select name="gender" id="">
                        <option value="F" selected>여성</option>
                        <option value="M">남성</option>
                    </select></td>
                </tr>
                <tr>
                    <td colspan="2" align="right"><input type="submit" value="수정하기"></td>
                </tr>
            </table>
        </form>
    </body>
</html>